*.log
*.lpr
*.wpc
*.xml
*.wdf
*.jou
*.str
*.backup.jou
*backup.str
vivado.jou
space_invader.sim
space_invader.runs
space_invader.cache
space_invader.hw
space_invader.ip_user_files
desktop.ini
space_invader_2016.sim
space_invader_2016.runs
space_invader_2016.cache
space_invader_2016.hw
space_invader_2016.ip_user_files